<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here targets，是用來讓我們定義Log要存放的媒體為何，定義Log的格式內容。 -->
    
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target name="file" xsi:type="File"
          fileName="${basedir}/App_Data/Logs/${shortdate}/${logger}.txt"
          layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}" />
    <target name="FatalFile" xsi:type="File"
        fileName="${basedir}/App_Data/Logs/${shortdate}/FatalFile.txt"
        layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}" />
    <target name="eventlog" xsi:type="EventLog"
        source="Lab_Of_NLog" log="Application"
        layout="${date}: ${message} ${stacktrace}" />
  </targets>

  <rules>
    <!-- add your logging rules here rules，用來定義各種Level的Log的處理方式，依據各種level所定義要使用哪一個taget來存放資料。-->
    
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
    <logger name="*" level="Trace" writeTo="file" /> <!--用於追蹤，可以在程式裡需要追蹤的地方將訊息以Trace傳出。-->
    <logger name="*" level="Debug" writeTo="file" /> <!--用於開發，於開發時將一些需要特別關注的訊息以Debug傳出。-->
    <logger name="*" level="Debug" writeTo="file" /> <!--訊息，記錄不影響系統執行的訊息，通常會記錄登入登出或是資料的建立刪除、傳輸等。。-->
    <logger name="*" level="Info" writeTo="file" />  <!--警告，用於需要提示的訊息，例如庫存不足、貨物超賣、餘額即將不足等。-->
    <logger name="*" level="Warn" writeTo="file" />  <!--錯誤，記錄系統實行所發生的錯誤，例如資料庫錯誤、遠端連線錯誤、發生例外等。。-->
    <logger name="*" level="Fatal" writeTo="FatalFile" />  <!--Fatal：致命，用來記錄會讓系統無法執行的錯誤，例如資料庫無法連線、重要資料損毀等。-->
    <logger name="*" level="Fatal" writeTo="eventlog" />
  </rules>
</nlog>